<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Usuario - Formoid form builder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="blurBg-false" style="background-color:#EBEBEB">

<!-- Start Formoid form-->
<link rel="stylesheet" href="registros2_files/formoid1/formoid-biz-red.css" type="text/css" />
<script type="text/javascript" src="registros2_files/formoid1/jquery.min.js"></script>
<form class="formoid-biz-red" style="background-color:#1A2223;font-size:11px;font-family:'Open Sans','Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;color:#ECECEC;max-width:480px;min-width:150px" method="post"><div class="title"><h2>Usuario</h2></div>
	<div class="element-separator"><hr><h3 class="section-break-title">Datos de Inicio de Sesion</h3></div>
	<div class="element-email"><label class="title"></label><input class="large" type="email" name="email" value="" placeholder="Email"/></div>
	<div class="element-email"><label class="title"></label><input class="large" type="email" name="email1" value="" placeholder="Repetir Email"/></div>
	<div class="element-password"><label class="title"></label><input class="large" type="password" name="password1" value="" placeholder="Password"/></div>
	<div class="element-password"><label class="title"></label><input class="large" type="password" name="password" value="" placeholder="Repetir Password"/></div>
	<div class="element-separator"><hr><h3 class="section-break-title">Datos Personales</h3></div>
	<div class="element-name"><label class="title"></label><span class="nameFirst"><input placeholder=" Nombres" type="text" size="8" name="name[first]" /></span><span class="nameLast"><input placeholder=" Apellidos" type="text" size="14" name="name[last]" /></span></div>
	<div class="element-input"><label class="title"></label><input class="large" type="text" name="input1" placeholder="DOCUMENTO DE IDENTIDAD"/></div>
	<div class="element-input"><label class="title"></label><input class="large" type="text" name="input" placeholder="Direccion"/></div>
	<div class="element-phone"><label class="title"></label><input class="large" type="tel" pattern="[+]?[\.\s\-\(\)\*\#0-9]{3,}" maxlength="24" name="phone" placeholder="Celular" value=""/></div>
	<div class="element-select"><label class="title"></label><div class="large"><span><select name="select" >

		<option value="MASCULINO">MASCULINO</option>
		<option value="FEMENINO">FEMENINO</option></select><i></i></span></div></div>
	<div class="element-date"><label class="title"></label><input class="large" data-format="yyyy-mm-dd" type="date" name="date" placeholder="FECHA DE NACIMIENTO"/></div>
<div class="submit"><input type="submit" value="REGISTRAR"/></div></form><p class="frmd"><a href="http://formoid.com/v29.php">form builder</a> Formoid.com 2.9</p><script type="text/javascript" src="registros2_files/formoid1/formoid-biz-red.js"></script>
<!-- Stop Formoid form-->



</body>
</html>
